body {
  background-color: #04a6eb;
  color: #fdffff;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
}
button {
  color: #fdffff;
  padding: 5px 20px;
  background-color: #3079b9;
  border-style: none;
}
input {
  height: 23px;
}